/* GENERAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
}

/* UTILITIES */
.container {
	max-width: 965px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	border-radius: 25px;
	padding: 10px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-100 {
	margin-bottom: 100px;
}
.bg-gray {
	background-color: #F6F6F6;
}

.clearfix::after {
	content:"";
	display: table;
	clear: both;
}
/* HEADER */
.header {
	background-color: #3161E0;
}
.header__nav-sec {
	display: inline-block;
	width: 60%;
	margin: 0 0 0 -4px;
}
.header__logo-sec {
	display: inline-block;
	width: 30%;
}
.header__logo-sec img {
	vertical-align: middle;	
}
.header__nav-sec li {
	display: inline-block;
	margin-right: 20px;
}
.header__nav-sec li a {
	color: #fff;
}

.header__nav-sec li:last-child {
	margin-right: 0px;
	margin-left: 40px;
	color: black;
	
}
.header__nav-row {
	padding: 22px 0px ;
}

.header__nav-sec li .header__login {
	padding: 10px;
	background-color: #fff;
	color: black;
	border-radius: 25px;
}
.banner {
	background-image: url("../img/jumbo.png");
	background-size: cover;
	background-position: top;
	width: 100vw;
}
.banner__inner {
	max-width: 640px;
	margin: 0 auto;
	padding: 200px 5px;
	text-align: center;
	color: #fff;
}
.banner__title {
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 40px;
}
.banner__subtitle{
	line-height: 25px;
	margin-bottom: 40px;
	font-weight: 600;
}
.btn {
	display: inline-block;
	border-radius: 25px;
	padding: 15px;
}
.banner__button--black {
	background-color: #fff;
	color: #23272A;
	margin-right: 20px;
}
.banner__button--withe {
	background-color: #23272A;
	color: #fff;
}
/*  ABOUT  */
.about {
	padding: 100px 0;
}
.about__img {
	float: left;
}
.about__txt {
	max-width: 285px;
	float: left;
	margin-top: 30px;
}
.about__title {
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 20px;
}
.about__subtitle {
	line-height: 25px;
}
.about__bottom{
	text-align: center;
}