/* GENERAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
	list-style: none;
}

/* UTILITIES */
.container {
	max-width: 965px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	border-radius: 25px;
	padding: 10px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-100 {
	margin-bottom: 100px;
}
.bg-gray {
	background-color: #F6F6F6;
}
.blue-style {
	color: #6C81CD;
}

.clearfix::after {
	content:"";
	display: table;
	clear: both;
}
/* HEADER */
.header {
	background-color: #3161E0;
}
.header__nav-sec {
	display: inline-block;
	width: 60%;
	margin: 0 0 0 -4px;
}
.header__logo-sec {
	display: inline-block;
	width: 30%;
}
.header__logo-sec img {
	vertical-align: middle;	
}
.header__nav-sec li {
	display: inline-block;
	margin-right: 20px;
}
.header__nav-sec li a {
	color: #fff;
}

.header__nav-sec li:last-child {
	margin-right: 0px;
	margin-left: 40px;
	color: black;
	
}
.header__nav-row {
	padding: 22px 0px ;
}

.header__nav-sec li .header__login {
	padding: 10px;
	background-color: #fff;
	color: black;
	border-radius: 25px;
}
.banner {
	background-image: url("../img/jumbo.png");
	background-size: cover;
	background-position: top;
	width: 100vw;
}
.banner__inner {
	max-width: 640px;
	margin: 0 auto;
	padding: 200px 5px;
	text-align: center;
	color: #fff;
}
.banner__title {
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 40px;
}
.banner__subtitle{
	line-height: 25px;
	margin-bottom: 40px;
	font-weight: 600;
}
.btn {
	display: inline-block;
	border-radius: 25px;
	padding: 15px;
}
.banner__button--black {
	background-color: #fff;
	color: #23272A;
	margin-right: 20px;
}
.banner__button--withe {
	background-color: #23272A;
	color: #fff;
}
/*  ABOUT  */
.about {
	padding: 100px 0;
}
.about__img {
	float: left;
}
.about__txt {
	max-width: 285px;
	float: left;
	margin-top: 30px;
}
.about__title {
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 20px;
}
.about__subtitle {
	line-height: 25px;
}
.about__bottom{
	text-align: center;
	
}
.about__bottom-btn {
	background-color: #8EA1E1;
	color: #fff;
	
}
/* FOOTER */
.footer{
	background-color: #23272A;
	padding: 70px 0 0 0;
}
.footer__row a{
	color: #E1E1E2;
	line-height: 30px;
}
.footer__title{
	margin-bottom: 20px;
	font-size: 30px;
}
.footer__subtitle {
	line-height: 30px;
}
.footer__select{
	border: 0;
	background-color: transparent;
	color:#E1E1E2; 
}

.footer__flag-img{
	vertical-align: middle;
	width: 20px;
	height: 15px;
}
.footer__column-main {
	float: left;
}

.footer__column-main {
	width: 32%;	
}
.footer__social-icon a{
	color: #fff;
	margin-right: 20px;

}
.footer__social-icon {
	margin-top: 25px;
}
.footer__column {
	width: 16%;
	float: left;
}
.line {
	margin: 40px 0 0 0;
}
.footer__logo{
vertical-align: middle;
}
.footer__bottom-button {
	text-align: right;
	display: inline-block;
	width: 50%;
	margin: 0 0 0 -5px	;
}
.footer__bottom-logo {
	display: inline-block;
	width: 50%;
}
.footer__button {
	background-color: #8EA1E1;
	color: #E1E1E2;
}
.footer__bootom {
	margin-top: 30px;
	padding-bottom: 100PX;
}